# Frequências e Medidas

In [5]:
import pandas as pd
import numpy as np
import seaborn as sns

In [6]:
dados = pd.read_csv('dados.csv')

In [7]:
dados.head()

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631

## Tipos de dados

In [9]:
## variáveis qualitatias ordinais

sorted(dados['Anos de Estudo'].unique())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

In [10]:
## variáveis qualitativas nominais

sorted(dados['UF'].unique())

[11,
 12,
 13,
 14,
 15,
 16,
 17,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 31,
 32,
 33,
 35,
 41,
 42,
 43,
 50,
 51,
 52,
 53]

In [12]:
sorted(dados['Sexo'].unique())

[0, 1]

In [13]:
sorted(dados['Cor'].unique())

[0, 2, 4, 6, 8]

In [14]:
## variáveis qualitativas discretas

sorted(dados['Idade'].unique())

[13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 94,
 95,
 97,
 99]

## Distribuição de frequências para variáveis qualitativas

In [15]:
dados['Sexo'].value_counts()

0    53250
1    23590
Name: Sexo, dtype: int64

In [16]:
dados['Sexo'].value_counts(normalize=True)*100

0    69.299844
1    30.700156
Name: Sexo, dtype: float64

In [17]:
## deixando os dados de forma mais apresentável

frequencia = dados['Sexo'].value_counts()

percentual = dados['Sexo'].value_counts(normalize=True)*100

In [18]:
dist_freq = pd.DataFrame({'Frequência': frequencia, 'Porcentagem (%)': percentual})

In [19]:
dist_freq

   Frequência  Porcentagem
0       53250    69.299844
1       23590    30.700156

In [21]:
## renomeando index

dist_freq.rename(index={0:'Masculino', 1:'Feminino'}, inplace=True)

In [22]:
dist_freq

           Frequência  Porcentagem
Masculino       53250    69.299844
Feminino        23590    30.700156